:root {
    /* Color Theme Swatches in HSLA */
    --color-darkest: hsla(189, 68%, 8%, 1);
    --color-darker: hsla(191, 25%, 36%, 1);
    --color-middle: hsla(185, 28%, 65%, 1);
    --color-accent: hsla(39, 33%, 26%, 1);
    --color-light: hsla(0, 0%, 95%, 1);
    }

/* Fonts */
.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* POSITIONING */
/* get rid of default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

/* positioning */
body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "header"
                         "container"
                         "footer";
    grid-template-rows: auto 15fr auto;
    
    
}

header {
    width: 100%;
    grid-area: header;
    padding-top: 1%;
    /* display: flex;
    justify-content: center;
    align-items: last baseline; */
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 3%;
}

.header-links> button:nth-child(3) {
     margin-left: 10%;

}


#container {
    padding: 0 10% 0 5%;
    grid-area: container;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}




/* STYLING */
body {
    background: var(--color-light);
}

header { 
    background-color: var(--color-middle);
}

button {
    box-sizing: border-box;
    padding: 1vw;
    font-size: 1.2rem;
    text-wrap: nowrap;
}



.header-button {
    border: 1px solid var(--color-darker);
    border-radius: 25% 25% 0 0;
    /* border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem; */
    background-color: var(--color-darker);
    color: var(--color-light);
}

.header-button-active {
    border: 1px solid var(--color-light);
    border-radius: 25% 25% 0 0;
    /* border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem; */
    background-color: var(--color-light);
    color: var(--color-darker);
}

.header-button:hover {
    background-color: var(--color-light);
    color: var(--color-darkest);
    border: 1px solid var(--color-darker);
    cursor: pointer;
}


footer {
    background: var(--color-middle);
    padding: 1% 10% 1% 10%;
}




/* many different CSS for every #container design */
/* Compare by MODEL */
.container_model {
    display: grid;
    grid-template-areas: "heading          heading          heading          heading          empty"
                         "brand            series           ratio            buttonreset      selected"
                         "dropdowncassette dropdowncassette dropdowncrankset dropdowncrankset selected "
                         "teethscassette   teethscass1ette  teethscrankset   teethscrankset   selected "
                         "gt               grt              zz                 buttonaddtograph asdad";
    grid-template-rows: 3rem 3rem 3rem 2rem 2rem;
    justify-items: center;
    align-items: center;
}

.model-filter.dropdown.brand {
    grid-area: brand;
}

.model-filter.dropdown.series {
    grid-area: series;
}

.model-filter.dropdown.ratio {
    grid-area: ratio;
}

.model-filter-reset {
    grid-area: buttonreset;
}

.all-cassettes {
    grid-area: dropdowncassette;
}

.all-cranksets {
    grid-area: dropdowncrankset;
}

.model-filter-addtograph {
    grid-area: buttonaddtograph;
}


/* Custom gear comparition */
#dialog-add-gearset {
    border: none;
    box-sizing: border-box;
    position: fixed;
    /* height: 20vh;
    width: 45vw; */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(124, 123, 123, 0.2);
    align-content: center;

}

#dialog-add-gearset-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.dialog-heading {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    padding: 1%;
}

.dialog-heading-text {
    color: var(--color-darkest);
}

.dialog-heading-text-alert {
    color: var(--color-accent);
}

.dialog-buttons {
    display: flex;
    gap: 1%;
    padding: 1%;
}

.dialog-buttons > button {
    flex: 1;
}


.add-custom-gearset-btn {
    border: 1px solid var(--color-darker);
    border-radius: 1rem;
    padding-left: 3%;
    padding-right: 3%;
    color: var(--color-darkest);
    background: var(--color-middle);
}

.add-custom-gearset-btn:hover {
    border: 1px solid var(--color-light);
    background: var(--color-darker);
    color: var(--color-light)
}

/* shared between all #containers */
.main-heading {
    grid-area: heading;
    font-size: 2rem;
    padding: 1%;
}