:root {
    /* Color Theme Swatches in HSLA */
    --color-darkest: hsla(189, 68%, 8%, 1);
    --color-darker: hsla(191, 25%, 36%, 1);
    --color-middle: hsla(185, 28%, 65%, 1);
    --color-accent: hsla(39, 33%, 26%, 1);
    --color-light: hsla(0, 0%, 95%, 1);
    }

/* Fonts */
.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

/* POSITIONING */
/* get rid of default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

/* positioning */
body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "header"
                         "container"
                         "footer";
    grid-template-rows: auto 15fr auto;
}




#container {
    padding: 0 10% 0 5%;
    grid-area: container;
}






/* GENERAL STYLING */
body {
    background: var(--color-light);
}



button {
    box-sizing: border-box;
    padding: 1vw;
    font-size: 1.2rem;
    text-wrap: nowrap;
}








/* many different CSS for every #container design */
/* Compare by MODEL */
.container_model {
    display: grid;
    grid-template-areas: "heading          heading          heading          heading          empty"
                         "brand            series           ratio            buttonreset      selected"
                         "dropdowncassette dropdowncassette dropdowncrankset dropdowncrankset selected "
                         "teethscassette   teethscass1ette  teethscrankset   teethscrankset   selected "
                         "gt               grt              zz                 buttonaddtograph asdad";
    grid-template-rows: 3rem 3rem 3rem 2rem 2rem;
    justify-items: center;
    align-items: center;
}

.model-filter.dropdown.brand {
    grid-area: brand;
}

.model-filter.dropdown.series {
    grid-area: series;
}

.model-filter.dropdown.ratio {
    grid-area: ratio;
}

.model-filter-reset {
    grid-area: buttonreset;
}

.all-cassettes {
    grid-area: dropdowncassette;
}

.all-cranksets {
    grid-area: dropdowncrankset;
}

.model-filter-addtograph {
    grid-area: buttonaddtograph;
}


/* Custom gear comparition */


/* shared between all #containers */
.main-heading {
    grid-area: heading;
    font-size: 2rem;
    padding: 1%;
}