.container_model {
  display: grid;
  grid-template-areas:
    "heading          heading          heading          heading          ."
    "brand            series           ratio            buttonreset      ."
    "dropdowncassette dropdowncassette dropdowncrankset dropdowncrankset ."
    "teethscassette   teethscass1ette  teethscrankset   teethscrankset   ."
    ".                .                .                buttonaddtograph ."
    "table            table            table            table            .";
  grid-template-rows: auto auto auto auto auto 1fr;
  /* justify-items: center; */
  align-items: center;
}

.model-filter.dropdown.brand {
  grid-area: brand;
}

.model-filter.dropdown.series {
  grid-area: series;
}

.model-filter.dropdown.ratio {
  grid-area: ratio;
}

.model-filter-reset {
  grid-area: buttonreset;
}

.all-cassettes {
  grid-area: dropdowncassette;
}

.all-cranksets {
  grid-area: dropdowncrankset;
}

.model-filter-addtograph {
  grid-area: buttonaddtograph;
}

.model-filter-addtograph,
.model-filter-reset {
  border: 1px solid var(--color-darker);
  border-radius: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  color: var(--color-darkest);
  background: var(--color-middle);
}

.model-filter-addtograph:hover,
.model-filter-reset:hover {
  border: 1px solid var(--color-light);
  background: var(--color-darker);
  color: var(--color-light);
  cursor: pointer;
}

.model-filter-reset {
  width: 80%;
  height: 80%;
  justify-self: center;
  background-color: hsla(5, 28%, 65%, 1);
}

.dropdown {
  display: flex;
  flex-direction: column;
  padding: 3%;
}
